* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  background-color: darkgreen;
}

header .heading a {
  color: #fff;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  color: #fff;
}


main {
  width: 100%;
  padding: 10px 40px 40px 40px;
  background-color: #ecfcdf;
}

.main-titel {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.main-box {
  display: flex;
}

.main-item1 {
  width: 30%;
  padding-right: 10px;
}

.main-image {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.main-item2 {
  width: 70%;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.row{
  display: flex;
  flex-wrap: wrap;
  line-height: 40px;
}

.main-label {
  font-weight: bold;
  width: 100px;
}

.social {
position: relative;
left: 100px;
}

.social i{
  padding: 0 20px 20px 0;
}

footer {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
}

.footer-text {
  color: #fff;
  text-align: center;
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  span .nav-list-item {
    display: block;
  }

  .main-box{
    display: block;
  }

  .main-item1{
    width: 100%;
    padding-bottom: 10px;

  }

  .main-image{
    display: block;
  }

  .main-item2{
    width: 100%;
  }
}